body {
    margin: 0;
    padding: 0;
    background-color: rgb(90, 85, 116);
}

header {
    text-align:center;
    color: aliceblue;

}

h1 {
    margin: 0;
    padding: 20px;
}

img {
    width: 500px;
    height:350px;
    display: block;
    margin: 0 auto; 
}

main, footer {
    padding: 0 25px;
}

.highlight {
    font-family: sans-serif;
    background-color:blueviolet;
    color: azure;

}